DISCORD_TOKEN=DEIN_BOT_TOKEN
CLIENT_ID=DEINE_CLIENT_ID
CLIENT_SECRET=DEIN_CLIENT_SECRET
GUILD_ID=DEINE_SERVER_ID
REDIRECT_URI=http://localhost:3000/callback
CATEGORY_CLIP=ID_DER_CLIP_KATEGORIE
CATEGORY_TICKETS=ID_DER_TICKET_KATEGORIE
ROLE_VERIFIED=ID_DER_VERIFY_ROLLE
ROLE_ANFRAGEN_PERMS=
ROLE_RANG_1=
ROLE_CHING_MITGLIED=
VERIFY_CHANNEL_ID=
IMAGE_URL=https://raw.githubusercontent.com/Agent007/ching-assets/main/logo.png
